@tailwind base;
@tailwind components;
@tailwind utilities;

.minimal-scrollbar::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.minimal-scrollbar::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.minimal-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(229, 229, 229);
  border-radius: 50px;
}

/* Handle on hover */
.minimal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(215, 215, 215);
}

.rotatex-sm {
  transform: rotateX(20deg);
  transform-origin: top;
}

.menuitemimage {
  animation: blur-in 0.4s ease-in-out;
  filter: blur(4px);
  opacity: 0.8;
  scale: 0.99; 
  animation-fill-mode: forwards;
}

@keyframes blur-in {
  0% {
    filter: blur(4px);
    scale: 0.99;
    opacity: 0.8;
    }
  100% {
    filter: blur(0px);
    scale: 1;
    opacity: 1;
    }
}
