@tailwind base;
@tailwind components;
@tailwind utilities;

.minimal-scrollbar::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.minimal-scrollbar::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.minimal-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(229, 229, 229);
  border-radius: 50px;
}

/* Handle on hover */
.minimal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(215, 215, 215);
}

.cart-btn-animate {
  animation: cart-btn-animate 1500ms ease infinite;
}

@keyframes cart-btn-animate {
  0% {
    opacity: 100%;
    scale: 1;
  }
  50% {
    opacity: 90%;
    scale: 1.1;
  }
  100% {
  opacity: 100%;
  scale: 1;
  }
}


@keyframes blur-in {
  0% {
    filter: blur(4px);
    scale: 0.99;
    opacity: 0.8;
    }
  100% {
    filter: blur(0px);
    scale: 1;
    opacity: 1;
    }
}
